*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    height: 70%;
    width: 60%;
    background-color: rgb(60, 40, 13);
    text-align: center;
    color: white;
}

h1{
    font-size: 27px;
    padding: 10px 2px;
    font-weight: 800;
}

button{
    font-size: 18px;
    padding: 6px 15px;
    margin: 10px 20px;
    background-color: rgb(109, 63, 17);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

#output{
    font-size: 17px;
    margin-top: 20px;
    border: 1.5px solid white;
    width: 70%;
    height: 40%;
    margin-left: 15%;
    border-radius: 15px;
    padding: 10px 10px;
    line-height: 20px;
    
}
